@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body {
  background-color: #101010;
  overflow: hidden;
}

.hover {
  border: 1px solid transparent;
  border-radius: 10px;
}

.hover:hover {
  cursor: pointer;
  border: 1px solid #ffffff;
  opacity: 90%;
}

.placeholder-light::placeholder {
  color: #ffffff;
  opacity: 50%;
}

.typing-anim {
  position: relative;
  color: hsl(0, 0%, 68%);
  font-weight: bold;
  font-family: "Anonymous Pro", monospace;
  letter-spacing: 1px;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 600px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right: 1px solid hsl(0, 0%, 80%);
  }
  to {
    border-right: 1px solid hsl(0, 0%, 80%);
  }
}
